/* Import google fonts - "Playpen Sans" & "Swanky and Moo Moo */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Swanky+and+Moo+Moo&display=swap');

/* Reset browser default styles */
* {
    margin: 0;
    padding: 0;
    /* box-sizing property to include border and padding in the total height and width of an elements */
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Playpen Sans", cursive;
    font-weight: 400;
}

/* Header */
header {
    background-color: #fffdf7;
    display: flex;
    flex-direction: column;
    border-bottom: #084194 2px solid;
}

/* Logo */
#logo {
    display: block;
    margin: auto;
}

#logo a {
    font-family: "Swanky and Moo Moo", cursive;
    font-size: 1.4rem;
    text-decoration: none;
    color: #084194;
}

/* Score area & moves counter */
#score-area {
    color: #084194;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #fffdf7;
    display: flex;
    justify-content: space-around;
    border-bottom: #084194 solid 1px;
    padding-bottom: 5px;
}

/* Move info - display feedback to player on each move */
#move-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #084194;
    border-bottom: #084194 2px solid;
    height: 39px;
}

#move-info {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fffdf7;
    border-radius: 15px;
}

/* Main */
main {
    font-family: "Playpen Sans", cursive;
    /* Enlarge main element to push footer down */
    flex: 1 0 auto;
    border-bottom: #084194 solid 2px;
    background: #fffdf7;
    /* CSS Background Patterns - credits to Jim Raptis. Pattern was available on https://www.magicpattern.design/tools/css-backgrounds */
    background-image: linear-gradient(#084194 1px, transparent 1px), linear-gradient(to right, #084194 1px, #fffdf7 1px);
    background-size: 20px 20px;

}

/* Game area */
#computer-game-area,
#player-game-area {
    display: flex;
    justify-content: center;
}

/* Game area labels */
.game-labels {
    writing-mode: vertical-lr;
    color: #fffdf7;
    background-color: #084194;
    font-weight: 500;
    border-radius: 10px;
    width: 24px;
    height: 100px;
    margin-top: 15px;
    text-align: center;
}

/* Cards */
.cards {
    color: #084194;
    font-family: "Swanky and Moo Moo", cursive;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 180px;
    border: #084194 5px solid;
    margin: 15px;
    /* Border and shadows. Credits to Tiffany Rayside for creating "Imperfect Buttons" */
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.cards-back {
    color: #fffdf7;
    background-color: #084194;
    outline-offset: -13px;
    outline: 8px solid #fffdf7;
}

.cards-front {
    background-color: #fffdf7;
}

/* Colour for red suit cards */
.red {
    color: #c73f4c;
}

/* Button containers */

/* Header button controls */
#buttons-container {
    display: flex;
    justify-content: center;
    color: #084194;
    font-size: 1rem;
}

/* Play button */
#play-button-container {
    display: flex;
    justify-content: center;
}

/* Buttons */
.button {
    align-self: center;
    background-color: #fffdf7;
    padding: 5px 10px;
    margin: 10px;
    transition: all .5s ease;
    color: #084194;
    border: solid 3px #084194;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    /* Border and shadows. Credits to Tiffany Rayside for creating "Imperfect Buttons" */
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.less-padding {
    padding: 5px 3px;
}

/* Play button */
#play-button {
    font-size: 1.4rem;
    border: solid 4px #084194;
}

/* Utility - hide HTML elements */
.hidden {
    visibility: hidden;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #084194;
    background-color: #fffdf7;
    padding: 2px 15px;

}

/* Social links */
.social-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.social-links i {
    color: #084194;
    padding: 2px;
    border: 2px solid #084194;
    /* Border and shadows. Credits to Tiffany Rayside for creating "Imperfect Buttons" */
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

/* Sweetalert2 styles */
/* !important is used to override the default Sweetalert2 settings */

/* Sweetalert2 button */
.swal-button {
    font-family: "Playpen Sans", cursive !important;
    background-color: #fffdf7 !important;
    padding: 5px 10px !important;
    margin: 0 1rem !important;
    transition: all .5s ease !important;
    color: #084194 !important;
    border: solid 3px #084194 !important;
    font-size: 1rem !important;
    letter-spacing: 1px !important;
    outline: none !important;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2) !important;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
}

/* Sweetalert2 popup */
.swal-popup {
    font-size: 1rem;
    font-family: "Playpen Sans", cursive;
    background-color: #fffdf7;
    color: #084194;
    background-color: #fffdf7;
    border: solid 6px #084194 !important;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2) !important;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
}

.swal-popup p {
    padding-bottom: 1ch;
    text-align: center;
}

/* Sweetalert2 icon */
.swal-icon {
    border: none;
}

/* Media queries */

/* Hover queries
Remove hover effect on touch devices */
@media (hover: hover) {

    /* Buttons */
    .button:hover {
        /* Border and shadows. Credits to Tiffany Rayside for creating "Imperfect Buttons" */
        box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
        border: dashed 3px #084194;
    }

    /* Play button */
    #play-button:hover {
        border: dashed 4px #084194;
    }

    /* Footer */

    /* Social links */
    .social-links i:hover {
        box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
        border: dashed 2px #084194;
    }

    /* Sweetalert2 buttons */
    .swal-button:hover {
        box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3) !important;
        border: dashed 3px #084194 !important;
        background-color: #fffdf7 !important;
        background-image: none !important;
    }
}

/* Devices with very small screens */
@media screen and (max-width: 320px) {

    /* Buttons */
    .button {
        font-size: 0.8rem;
    }

    /* Score area & moves counter */
    #score-area {
        font-size: 1rem;
    }

    /* Move info - display feedback to player on each move */
    #move-info-container {
        height: 26px;
    }

    #move-info {
        font-size: 1rem;
    }

    /* Cards */
    .cards {
        width: 100px;
        height: 160px;
        font-size: 2.3rem;
    }
}


/* Tablets and larger (768px and larger) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Logo */
    #logo {
        padding-left: 15px;
        margin: 0;
    }

    /* Buttons */
    .button {
        margin: 0 1rem;
    }

    /* Footer */

    /* Social Links */
    .social-links {
        width: 20%;
    }
}

/* Display larger cards only for tablets and laptops with a taller screen height */
@media screen and (min-height: 800px) and (min-width: 768px) {

    /* Cards */
    .cards {
        width: 160px;
        height: 240px;
        margin: 30px;
        font-size: 3.5rem;
    }

    /* Game area labels */
    .game-labels {
        margin-top: 30px;
    }
}

/* Add additional margin for devices with extra tall screens */
@media screen and (min-height: 900px) {

    /* Cards */
    .cards {
        margin: 10% 5% 5%;
    }

    /* Game area labels */
    .game-labels {
        margin-top: 10%;
    }
}

/* Wide monitors and larger (1920px and larger) */
@media screen and (min-width: 1920px) {

    header,
    main,
    footer {
        padding-left: 15%;
        padding-right: 15%;
    }

    /* Score area & moves counter */
    #score-area {
        border-left: #084194 2px solid;
        border-right: #084194 2px solid;
    }
}