/* Import google fonts - "Playpen Sans" & "Swanky and Moo Moo */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Swanky+and+Moo+Moo&display=swap');

/* Reset browser default styles */
* {
    margin: 0;
    padding: 0;
    /* box-sizing property to include border and padding in the total height and width of an elements */
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Playpen Sans", cursive;
    font-weight: 400;
}

/* Header */
header {
    background-color: #fffdf7;
    display: flex;
    border-bottom: #084194 2px solid;
    justify-content: space-between;
}

/* Logo */
#logo {
    display: block;
    padding-left: 15px;
}

#logo a {
    font-family: "Swanky and Moo Moo", cursive;
    font-size: 1.4rem;
    text-decoration: none;
    color: #084194;
}

/* Score area & moves counter */
#score-area {
    color: #084194;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #fffdf7;
    display: flex;
    justify-content: space-around;
    border-bottom: #084194 solid 1px;
    padding-bottom: 5px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #084194;
    background-color: #fffdf7;
    padding: 2px 15px;

}

/* Social links */
.social-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 20%;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.social-links i {
    color: #084194;
    padding: 2px;
    border: 2px solid #084194;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.social-links i:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
    border: dashed 2px #084194;
}